templates/ECOM_LANDING/ECOM_LANDING.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"ecom_Databricks": {
			"type": "string"
		},
		"AzureDataLakeStorage1": {
			"type": "string"
		},
		"AzureDataLakeStorage2": {
			"type": "string"
		},
		"ecom_sql_ls": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ECOM_LANDING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy ECOM THRID PART TO LANDING",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ecom_json",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Ecom_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"folder_path": "ECOM/@{formatDateTime(utcnow(),'dd-MM-yyyy')}"
								}
							}
						]
					},
					{
						"name": "ecom_brick",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy ECOM THRID PART TO LANDING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/azureproj2@gmail.com/Ecom_Impl"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('ecom_Databricks')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ecom_sqlserver",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ecom_brick",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet_ecom",
								"type": "DatasetReference",
								"parameters": {
									"folder_path": {
										"value": "ECOM/@{formatDateTime(utcnow(),'dd-MM-yyyy')}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ecom_table",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ecom_json')]",
				"[concat(variables('factoryId'), '/datasets/Ecom_Parquet')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_ecom')]",
				"[concat(variables('factoryId'), '/datasets/ecom_table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ecom_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ECOM",
						"fileSystem": "thridparty"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"SessionID": {
							"type": "integer"
						},
						"UserID": {
							"type": "integer"
						},
						"ProductID": {
							"type": "integer"
						},
						"Action": {
							"type": "string"
						},
						"Timestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ecom_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folder_path",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_ecom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage2')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folder_path",
							"type": "Expression"
						},
						"fileSystem": "staged"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "SessionID",
						"type": "INT64"
					},
					{
						"name": "UserID",
						"type": "INT64"
					},
					{
						"name": "ProductID",
						"type": "INT64"
					},
					{
						"name": "Action",
						"type": "UTF8"
					},
					{
						"name": "Timestamp",
						"type": "UTF8"
					},
					{
						"name": "Year",
						"type": "INT32"
					},
					{
						"name": "Month",
						"type": "INT32"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ecom_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ecom_sql_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ecom_data"
				}
			},
			"dependsOn": []
		}
	]
}